<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.parkingInfo.mapper.ParkingInfoMapper">

    <resultMap type="ParkingInfo" id="ParkingInfoResult">
        <result property="id" column="id"/>
        <result property="carPlate" column="car_plate"/>
        <result property="position" column="position"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectParkingInfoVo">
        select id, car_plate, position, status
        from parking_info
    </sql>

    <select id="selectParkingInfoList" parameterType="ParkingInfo" resultMap="ParkingInfoResult">
        <include refid="selectParkingInfoVo"/>
        <where>
            <if test="carPlate != null  and carPlate != ''">and car_plate = #{carPlate}</if>
            <if test="position != null  and position != ''">and position = #{position}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectParkingInfoById" parameterType="Long" resultMap="ParkingInfoResult">
        <include refid="selectParkingInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertParkingInfo" parameterType="ParkingInfo">
        insert into parking_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="carPlate != null">car_plate,</if>
            <if test="position != null and position != ''">position,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="carPlate != null">#{carPlate},</if>
            <if test="position != null and position != ''">#{position},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateParkingInfo" parameterType="ParkingInfo">
        update parking_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="carPlate != null">car_plate = #{carPlate},</if>
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteParkingInfoById" parameterType="Long">
        delete
        from parking_info
        where id = #{id}
    </delete>

    <delete id="deleteParkingInfoByIds" parameterType="String">
        delete from parking_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="updateParkingInfoByPlate" parameterType="String" resultMap="ParkingInfoResult">
        <include refid="selectParkingInfoVo"/>
        where car_plate = #{plate}
    </select>


</mapper>