<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link href="../static/js/echarts.js" th:href="@{/js/echarts.js}" rel="stylesheet"/>
    <link href="../static/ajax/libs/bootstrap-fileinput/fileinput.css"
          th:href="@{/ajax/libs/bootstrap-fileinput/fileinput.css}" rel="stylesheet"/>


</head>

<body class="gray-bg">
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <div class="col-sm-5">
            <form id="form" th:action="@{/park/imgSave}" method="post" enctype="multipart/form-data">
                <div class="row form-group">
                    <label class="col-md-4">车辆入库:</label>
                    <div class="col-sm-12">
                        <input id="input-id" name="file" multiple="multiple" th:multiple="multiple" type="file"
                               data-show-caption="true"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5">
            <form id="outputForm" th:action="@{/park/imgDelete}" method="post" enctype="multipart/form-data">
                <div class="row form-group">
                    <label class="col-md-4">车辆出库:</label>
                    <div class="col-sm-12">
                        <input id="output-id" name="file" multiple="multiple" th:multiple="multiple" type="file"
                               data-show-caption="true"/>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-sm-2">
        <h3>Hello,Guest</h3>
        <small>请扫描以下二维码进行支付：</small>
        <br>
        <br>
        <!--        <img id="qrImg" th:src="@{/img/qr_code.png}" width="100%" style="max-width:400px;">-->
        <img id="qrImg" src="/img/qr_code.png" width="100%" style="max-width:400px;">
        <br>
    </div>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->

    <div class="col-sm-5">
        <h3>车辆停放时间占比</h3>
        <div id="pie-chart-main" style="width: 480px;height:400px;"></div>
    </div>

    <div class="col-sm-2">
        <h3>近七天总收入</h3>
        <div id="column-chart-main" style="width: 460px;height:400px;"></div>
    </div>


</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script th:src="@{/ajax/libs/bootstrap-fileinput/fileinput.min.js}"></script>

<script type="text/javascript">

    var Cost;

    // 模拟入库
    $(function () {
        initFileInput("input-id");
    });

    function initFileInput(ctrlName) {
        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/park/imgSave", //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            uploadAsync: false, //默认异步上传，这里如果不是异步上传，多个图片一次性提交到后台，只发一次请求，如果为异步上传，每张图片都会发一次请求，多次请求
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: true,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 3, //允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            layoutTemplates: {
                // actionDelete:'', //去除上传预览的缩略图中的删除图标
                // actionUpload:'',//去除上传预览缩略图中的上传图片；
                // actionZoom:'',   //去除上传预览缩略图详情的图标
                // actionDownload:'' //去除上传预览缩略图中的下载图标
            },
            uploadExtraData: function () {   //向后台传递的附带参数
                var data = {
                    id: "10000",
                    msg: "这里可以添加参数"
                }
                return data;
            }
        }).on('filebatchuploadsuccess', function (event, data, previewId, index) {     //上传中
            //console.log(data);
            console.log('文件正在上传');
        }).on("filebatchuploadsuccess", function (event, data, previewId, index) {    //一个文件上传成功
            var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
            console.log(response);//打印出返回的json
            console.log(response.status);//打印出状态

            // 刷新当前页面
            location.reload();

            alert(response.msg)

        }).on('filebatchuploaderror', function (event, data, msg) {  //一个文件上传失败
            console.log('文件上传失败！' + data.status);
        })
    }

    // 模拟出库
    $(function () {
        initFileOutput("output-id");
    });

    function initFileOutput(ctrlName) {
        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: "/park/imgDelete", //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            uploadAsync: false, //默认异步上传，这里如果不是异步上传，多个图片一次性提交到后台，只发一次请求，如果为异步上传，每张图片都会发一次请求，多次请求
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: true,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 3, //允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            layoutTemplates: {
                // actionDelete:'', //去除上传预览的缩略图中的删除图标
                // actionUpload:'',//去除上传预览缩略图中的上传图片；
                // actionZoom:'',   //去除上传预览缩略图详情的图标
                // actionDownload:'' //去除上传预览缩略图中的下载图标
            },
            uploadExtraData: function () {   //向后台传递的附带参数
                var data = {
                    id: "10000",
                    msg: "这里可以添加参数"
                }
                return data;
            }
        }).on('filebatchuploadsuccess', function (event, data, previewId, index) {     //上传中
            //console.log(data);
            console.log('文件正在上传');
        }).on("filebatchuploadsuccess", function (event, data, previewId, index) {    //一个文件上传成功
            var form = data.outputForm, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
            console.log(response);//打印出返回的json

            // var imgElement = document.getElementById("qrImg")
            // console.log("before:imgElement.src = " + imgElement.src)
            //
            //
            // console.log(response.status);//打印出状态
            // var codeImg = "/img/pay_" + response.cost + ".png"
            // imgElement.src = codeImg
            //
            //
            // console.log("imgElement.src = " + imgElement.src)

            alert(response.msg)


        }).on('filebatchuploaderror', function (event, data, msg) {  //一个文件上传失败
            console.log('文件上传失败！' + data.status);
        })
    }



    // 引入 echarts 的柱状图，用于记录近七天的总收入
    var chartDom = document.getElementById('column-chart-main');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['1', '2', '3', '4', '5', '6', '7'],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '总收入',
                type: 'bar',
                barWidth: '60%',
                data: [10, 52, 200, 334, 390, 330, 220]
            }
        ]
    };

    option && myChart.setOption(option);


    // 引入 echarts 的饼图，用于记录当天车辆停放时间分布
    var chartDom = document.getElementById('pie-chart-main');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        tooltip: {
            trigger: 'item'
        },
        legend: {
            top: '5%',
            left: 'center'
        },
        series: [
            {
                name: 'Access From',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                itemStyle: {
                    borderRadius: 10,
                    borderColor: '#fff',
                    borderWidth: 2
                },
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: 40,
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: 1048, name: '不足2小时'},
                    {value: 580, name: '2~4小时之内'},
                    {value: 484, name: '4~6小时之内'},
                    {value: 300, name: '超过6小时'}
                ]
            }
        ]
    };

    option && myChart.setOption(option);

</script>
</body>
</html>
